button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    padding: 5px 12px 7px;
    min-width: 120px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--fillcolor-accent-default);
    color: var(--fillcolor-textonaccent-primary);
    border-top: 1px solid var(--elevation-accentcontrol-border-top);
    border-right: 1px solid var(--elevation-accentcontrol-border-top);
    border-left: 1px solid var(--elevation-accentcontrol-border-top);
    border-bottom: 1px solid var(--elevation-accentcontrol-border-bot);
}

button:hover {
    background-color: var(--fillcolor-accent-secondary);
}

button:active {
    background-color: var(--fillcolor-accent-tertiary);
    color: var(--fillcolor-textonaccent-secondary);
    border: 1px solid var(--elevation-accentcontrol-border-top);
}

button:disabled {
    pointer-events: none;
    background-color: var(--fillcolor-accent-disabled);
    color: var(--fillcolor-textonaccent-disabled);
    border: none;
}

button:focus-visible {
    outline: none;
    box-shadow: var(--focus-element);
}

/* ############################################################################################ */

button.standard {
    background-color: var(--fillcolor-control-default);
    color: var(--fillcolor-text-primary);
    border-top: 1px solid var(--elevation-control-border-top);
    border-right: 1px solid var(--elevation-control-border-sid);
    border-left: 1px solid var(--elevation-control-border-sid);
    border-bottom: 1px solid var(--elevation-control-border-bot);
    border-radius: 3px;
}

button.standard:hover {
    background-color: var(--fillcolor-control-secondary);
}

button.standard:active {
    background-color: var(--fillcolor-control-tertiary);
    color: var(--fillcolor-text-secondary);
    border-top: 1px solid var(--elevation-control-border-top);
}

button.standard:disabled{
    background-color: var(--fillcolor-control-disabled);
    color: var(--fillcolor-text-disabled);
    border-top: 1px solid var(--elevation-control-border-top);
}

/* ############################################################################################ */

button.subtle {
    background-color: var(--elevation-subtle-transparent);
    color: var(--fillcolor-text-primary);
    border: none;
    border-radius: 3px;
}

button.subtle:hover {
    background-color: var(--elevation-subtle-secondary);
}

button.subtle:active {
    background-color: var(--elevation-subtle-tertiary);
    color: var(--fillcolor-text-secondary);
}

button.subtle:disabled {
    background-color: var(--elevation-subtle-disabled);
    color: var(--fillcolor-text-disabled);
}
/* ############################################################################################ */

button.icon {
    min-width: auto;
    width: 31px;
    height: 31px;
    padding: 0;
}

/* ############################################################################################ */

button.compact-touch {
    padding: 0px 11px;
    min-width: auto;
    height: 22px;
}

button.compact-touch i {
    font-size: 12px;
    line-height: 12px;
}

button.compact-touch.icon {
    width: 22px;
    padding: 0;
}